extends layout

block content
  .row.add
    .span12
      .well
        h4 Add a place
        form(action="/places.json", method="post", target="json")
          label Name
          input(type="text", name="name") 
          label Description
          textarea(rows="3", name="description") 
          label Lon
          input(type="text", name="lon") 
          label Lat
          input(type="text", name="lat")
          label Tags (comma,del)
          input(type="text", name="tags") 
          label Category
          input(type="text", name="category") 
          label Address
          input(type="text", name="address") 
          label Website
          input(type="text", name="website") 
          label Image Url
          input(type="text", name="image_url") 
          label Image Credit
          input(type="text", name="image_credit") 
          br
          input.btn(type="submit", value="Add Event")
  iframe#json(src="", name="json")
