form(action="/places.json", method="post")

  input(type="text", name="name") 
  | Name
  br
  input(type="text", name="description") 
  | Description
  br
  input(type="text", name="lon") 
  | Lon
  br
  input(type="text", name="lat")
  | Lat
  br
  input(type="text", name="tags") 
  | Tags (comma,del)
  br
  input(type="text", name="category") 
  | Category
  br
  input(type="text", name="address") 
  | Address
  br
  input(type="text", name="website") 
  | Website
  br
  input(type="text", name="image_url") 
  | Image Url
  br
  input(type="text", name="image_credit") 
  | Image Credit
  br
  br
  input(type="submit", value="submit")
